.homepage {
  margin-top: 100px;
  /*   border: 1px solid #000000;
 */
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 40px;
}
.search-container input {
  width: 100%;
  padding: 20px 40px;
  box-sizing: border-box;
  text-align: center;
  border: 1px solid #2a5301;
  border-radius: 25px;
  outline: none;
  /* WHAT THE USER TYPES */
  font-size: 22px;
  color: #2a5301;
  margin-bottom: 50px;
}

.search-container input::placeholder {
  font-size: 22px;
  color: #2a5301;
  align-items: center;
}

.search-container {
  position: relative;
  width: 100%;
  max-width: 500px;
}

.search-container ul {
  position: absolute;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;
  background-color: #2a5301;
  border: 1px solid #ccc;
  border-radius: 25px;
  display: block;
}
.search-container a {
  color: #e5ffca;
  text-decoration: none;
  font-family: "Coming Soon", cursive;
}

.trending-container {
  width: 40vw;
  border: 2px solid #2a5300;
  padding: 25px;
  margin-top: 40px;
  border-radius: 25px;
  margin-bottom: 70px;
}
.trending-container h1 {
  color: #2a5300;
}
.genre-results {
  list-style-type: none;
  padding-left: 0;
  margin-top: 10px;
  padding: 10px;
}

.genre-results li {
  margin-bottom: 8px;
}
.genre-results li a {
  text-decoration: none;
  color: #2a5300;
  font-family: "Coming Soon", cursive;
}
.genre-btns {
  display: flex;
  justify-content: space-between;
}
.genre-btns button {
  font-size: 18px;
  font-family: "Coming Soon", cursive;
}
.trending-container button {
  background-color: #2a5300;
  padding: 15px 25px;
  border: 1px solid #2a5300;
  border-radius: 25px;
  color: #e5ffca;
}

.app-card {
  width: 40vw;

  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: "League Spartan", sans-serif;
  background-color: #2a5300;
  color: #e5ffca;
  align-items: center;
  border-radius: 25px;
  padding-top: 3vw;
  padding-bottom: 3vw;
}
.app-card img {
  width: 10vw;
  height: 17vw;
  border-radius: 25px;
}
.app-info {
  text-align: left;
  padding: 20px;
}

.app-info p {
  font-size: 19px;
  margin-bottom: 2px;
  margin-top: 2px;
}
.app-info div {
  margin-bottom: 30px;
}
