.login {
  background-color: #2a5300;
  padding: 20px 30px;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
}
.login h1 {
  color: #e5ffca;
}
.login input {
  margin-left: 0.5vw;
  margin-right: 0.5vw;
  background-color: #e5ffca;
  padding: 10px 40px;
  border: none;
  border-radius: 25px;
  font-size: 13px; /* WHAT THE USER TYPES */
  color: #2a5300; /* WHAT THE USER TYPES */

  font-family: "Coming Soon", cursive;
  margin-bottom: 20px;
  outline: none;
}
.login input::placeholder {
  color: #2a5300;
  font-family: "Coming Soon", cursive;
  font-weight: bolder;
}
.login-btn {
  padding: 15px;
  border-radius: 25px;
  background-color: #2a5300;
  border: 1px solid #e5ffca;
  color: #e5ffca;
  font-family: "League Spartan", sans-serif;
  font-size: 20px;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.login-btn:hover {
  background-color: #e5ffca;
  color: #2a5300;
}
