nav {
  display: flex;
  justify-content: space-between; /* This aligns elements left and right */
  align-items: center; /* Vertically centers items */
  padding: 10px 20px;
  background-color: #2a5301;
  color: white;
  position: fixed; /* Sticks the navbar to the top */
  top: 0; /* Aligns it to the top of the page */
  border-radius: 22px;
  left: 0;
  right: 0;
  margin: 3px;
  z-index: 1000; /* So navbar always goes on top of other content */
}
nav a {
  color: #e5ffca;
  text-decoration: none;
  font-family: "League Spartan", sans-serif;
  font-size: 17px;
}

nav a:hover {
  color: #e5ffca;
}
nav a.active {
  font-style: italic;
}
.signout-btn {
  background-color: #2a5301;
  color: #e5ffca;
  font-family: "League Spartan", sans-serif;
  border: none;
  font-size: 17px;
}
